.image-comparison-container {
    position: relative;
    width: 80%;
    max-width: 355px;
    margin: 50px auto;
    height: 500px;
}

.image-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    height: 100%;
}

.image-wrapper img {
    height: 100%;
    width: auto;
    display: block;
}

.slider-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background-color: white;
    border: none;
    cursor: ew-resize;
    z-index: 10;
}
